<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Rasa ChatBot Tuyển Sinh</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<style>
  .container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
  }

  .quanly {
    position: relative;
    text-decoration: none;
  }
</style>

<body>
  <!-- <div class=".container">
    <iframe src="https://www.facebook.com/" width="1500px" height="1000px" class="page" frameborder="0" allowfullscreen
      scrolling="auto"></iframe>
  </div> -->
  <!-- <div id="rasa-chat-widget" data-websocket-url="http://0.0.0.0:5005/socket.io/"></div>
  <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script> -->


  <rasa-chatbot-widget server-url="http://0.0.0.0:5005"></rasa-chatbot-widget>
  <script type="module"
    src="https://unpkg.com/@rasahq/chat-widget-ui/dist/rasa-chatwidget/rasa-chatwidget.esm.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@rasahq/chat-widget-ui/dist/rasa-chatwidget/rasa-chatwidget.css" />


  <!-- <script src="https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.js"></script>
  <script>
    WebChat.default({
      socketUrl: "http://localhost:5005/",
      socketPath: "/socket.io/",
      title: "Chatbot",
      subtitle: "Rasa",
      showMessageDate: true
    }, null);
  </script> -->



  <!-- <script>!(function () {
      let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
      (e.src =
        "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.0/lib/index.js"),
        // Replace 1.x.x with the version that you want
        (e.async = !0),
        (e.onload = () => {
          window.WebChat.default(
            {
              customData: { language: "en" },
              socketUrl: "https://bf-botfront.development.agents.botfront.cloud",
              // add other props here
            },
            null
          );
        }),
        t.insertBefore(e, t.firstChild);
    })();
  </script> -->
</body>

</html>